<script type="text/javascript">
  $(function(){
    $(".navbar").removeClass("navbar-devise");
    $(".navbar").addClass("navbar-default");
  });
</script>

<div class="jumbotron">
	<%= render 'partial/navbar' %>

  <!-- Search Form -->
  <div class="top-search-field">
    <%= form_tag search_path, method: :get do %>
      <div class="row">
        <div class="container">
          
          <%= hidden_field_tag :lat %>
          <%= hidden_field_tag :lng %>

          <div class="col-md-7 col-xs-10" style="padding-right: 0px">
            <%= text_field_tag :search, params[:search], placeholder: "希望の場所はどこですか？", class: "form-control",id:"top-search-form" %>
          </div>
          <div class="col-md-2 hidden-xs hidden-sm">
            <%= text_field_tag :start_date, params[:start_date], placeholder: "撮影予定日", class: "form-control" %>
          </div>
          <div class="col-md-2 hidden-xs hidden-sm">
            <%= text_field_tag :end_date, params[:end_date], placeholder: "撮影終了日", class: "form-control" %>
          </div>
          <div class="col-md-1 col-xs-2" style="padding-left: 0px; ">
            <%= submit_tag "検索", class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">  

  <!--　おすすめのカメラマン -->
  <section id="portfolio" class="bg-light-gray row-space-top-4 row-space-4">
    <div class="container">
      <div class="row row-space-2">
        <div class="col-lg-12 text-Left">
          <h3 class="section-heading">おすすめ</h3>
        </div>
      </div>

      <div class="row">
        <% @users.each do |user|%>
          <% if !user.listings.blank?%>
            <div class="col-md-4 col-sm-6 portfolio-item row-space-2">
              <%= link_to listing_path(user.listings[0]) do %>
                <%= image_tag user.listings[0].photos[0].image.url(:medium) %>
              <% end %>
              <div class="portfolio-caption">
                <%= image_tag user.image,class:"img-circle profile-1"%>
                <span style="font-weight: bold;"><%= user.name %>さん</span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    
    <div class="container">
      <div class="row row-space-2">
        <div class="col-lg-12 text-Left">
          <h3 class="section-heading">注目の写真</h3>
        </div>
      </div>
    </div>    
    
    <div class="container">
      <div class="row row-space-2">
        <div class="col-lg-12 text-Left">
          <h3 class="section-heading">人気の場所</h3>
        </div>
      </div>
    </div>
    
  </section>
</div>

<%= render 'pages/footer' %>

<!-- datepickerのスクリプト -->
<script>
  $(function() {
    $("#start_date").datepicker({
      dateFormat: 'dd-mm-yy',
      minDate: 0,
      maxDate: '3m',
      onSelect: function(selected) {
        $('#end_date').datepicker("option", "minDate", selected);
        $('#end_date').attr('disabled', false);
      }
    });

    $("#end_date").datepicker({
      dateFormat: 'dd-mm-yy',
      minDate: 0,
      maxDate: '3m',
      onSelect: function(selected) {
        $('#start_date').datepicker("option", "maxDate", selected);
      }
    });
  })
</script>

<script>
function init() {

  var input = /** @type {!HTMLInputElement} */(
      document.getElementById('top-search-form'));

  var autocomplete = new google.maps.places.Autocomplete(input);
  
  autocomplete.addListener('place_changed', function() {

    var place = autocomplete.getPlace();
    var lat = place.geometry.location.lat();
    var lng = place.geometry.location.lng();
    
    document.getElementById('lat').value = lat ;
    document.getElementById('lng').value = lng ;

    if (!place.geometry) {
      window.alert("Autocomplete's returned place contains no geometry");
      return;
    }

  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1BoiSo2jL950_AuFzV-f9ETgKn0uQl2I&signed_in=true&libraries=places&callback=init"
    async defer></script>
